@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Phantom Sans";
  src: url('./assets/phantomsans');
}
body{
font-family: Phantom Sans;
}
html {
  height: 100%;
  width: 100%;
  background-color: white;
  text-align: center;
  scroll-behavior: smooth;
  color: black;
  scroll-snap-align: start;
  scroll-snap-type: y mandatory;
  
}

* {
  padding: 0;
  margin: 0;

}

.navbar {
  text-align: left;
  padding: 0;
  color: black;
  margin: 0;
  /* background: #234607 */
  background: white
}

.navbar ul {
  margin: 0;
  color: inherit;
  display: flex;
  padding: unset;
  list-style: none;
}

.navbar a {
  color: black;
  text-decoration: none;
}

.navigation {
  margin: 0;
  min-height: 8vh;
}

.body {
  text-align: center;
 

  
}
.blank{
  grid-area: blank;
}
.introdiv{
  display:grid;
  grid-template-areas:
    '  blank blank image'
    '  paragraph paragraph image'
    '  blank p2 p2';
  align-items: center;
}
.introp2{
  font-size:3vh;
  
  margin-top:20px;
  margin-bottom: 20px;
}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;

}

.nav-toggle {
  display: flex;
}

@media screen and (max-width: 817px) {
  .navbar.open ul {
    display: block;
  }

  .navbar.open .nav-toggle {
    display: block;
  }

  .navbar .nav-toggle {
    display: none;
  }

  .navbar .open a {
    display: block
  }


  button:hover {
    background-color: #707070;
  }
}

@media screen and (min-width: 817px) {
  #icon {
    display: none;
  }



}

.navigation a:hover {
  background-color: #707070;
  color: black;
}

.navigation a.active {
  background-color: #707070;
  color: black;
}

.randimg {
  width: 200px;
  height: auto;
}

div {
  margin: 0;
  padding: 0;
  width: 100%;
}

.header {
  width: 100%;

}

.headerimg {

  /* opacity: 0.4; */
  width: 100%;
}

.headertable {
  width: 100%;
}

/* tr{
  width:100%
}
.empty{
  width:0%;
  empty-cells: 0;
  
} */
.header .headertxt {
  color: black;
  opacity: 1;

  text-align: center;

  width: 100%;
  top: 20%;


  /* right:25% */
  font-size: 8vw;

}

.body {
  color: black;
  font-size: 1.2vw;
  font-family: "Poppins", sans-serif;

}
.redhighlight{
  background-color: red;
  color:white
}

.body p {
  margin-bottom: 1em;
}

* {
  box-sizing: border-box;
}
.gallery{
  font-size:25px
}
.gallerycontainer {
  position: relative;
  max-width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 10px;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 10px
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

#introimage{
  grid-area: image;
  max-width: 30%;
}
.introdiv{


  
}
.introp{
  grid-area: paragraph1;
  float: right;
  position: sticky;
  font-size:2v;
  

  margin-left:30%;
}
h1{
  margin-top:20px;
  margin-bottom:40px;
  font-size:48px;
  font-weight: 6000;
  line-height: 1.2;
}
.down{
  margin-bottom: 10px;
  display:inline-block;
  align-self: center;
  
}
#intro{
  scroll-snap-align: start;
  font-size:20px;
  size-adjust:10;
  margin-top:20px
}
section{
  scroll-snap-align: start;
}
#top{
  scroll-snap-align: start;
  align-content: center;
}
.navigation {
  /* background-color: #b0c0a0; */
  color:black;
  background-color: white;


  /* height:8vh; */



}

.navigation a {

  /* color: #f2f2f2; */
  color: black;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  display: inline-block;
  height: 100%;
  transition:2;
}

* {
  margin: 0;
}

button {
  float: right;
  min-height: 8vh;
  /* background-color: #b0c0a0; */
  background-color: white;
  border: none;

  padding-right: 18px;
  padding-left: 18px;
}
a {
  color: #007BFF;
  text-decoration: underline;
}

a:visited {
  color: #0056b3;
}

a:hover {
  color: #122840;
  text-decoration: underline;
  scale:1.02
}
